{% extends 'main.html'  %}
{% load static %}
{% block title %}Деньгицо.ру - Все самые выгодные займы России без банковской карты срочно{% endblock %}
{% block description %}Выгодные онлайн займы без банковской карты срочно без отказа и проверок кредитной истории {% endblock %}
{% block keywords %}займ,микрокредит,займы  без карты,срочно,онлайн,наличными,на киви,быстрый{% endblock %}
{% block content %}
<div class="row">
  <div id="carouselExampleControls" class="carousel slide main_info" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/main_info.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/main_info2.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/main_info.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<form class="row top_ranger" method="GET" autocomplete="off" id="main_form">
  <div class="col-md-9 col-lg-9 col-xl-9">
    <div class="row">
    <div class="col-md-8 col-lg-8 col-xl-8 hg">
    <div class="row">
      <div class="slidecontainer">
        <input name="rubles" type="range" step="1000" min="1000" max="100000" value="7000" class="slider" id="myRange" onkeyup='saveValue(this);'/>
      </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4">
    <div class="row md-right">
      <h2 class="hg2 text-left"><strong><input class="MainInput" type="number" id="rubles" value="7000" /><span class="ruru">РУБЛЕЙ</span></strong></h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-8 col-lg-8 col-xl-8 hg">
    <div class="row">
    <div class="slidecontainer">
      <input type="range" step="1" min="1" max="52" value="2" class="slider" name="weeks" id="myRangeDay"/>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4">
    <div class="row md-right">
      <h2 class="hg2 text-left"><strong><input class="MainInput" type="number" id="weeks" value="2"/><span class="ruru">НЕДЕЛЬ</span></strong></h2>
    </div>
    </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="row fix">
    <button class="btn button_rubles" id="button_go" type="submit" value="Submit"><strong>ПОДОБРАТЬ</strong></button>
    </div>
  </div>
</form>
<div class="row">
{% if messages %}
    {% for message in messages %}
    {% if 'not_find' in message.extra_tags %}
    <div class="alert alert-warning normal_message" role="alert">
      <h5 style="margin-bottom:0px">{{message|safe}}</h5>
    </div>
    {% elif 'find' in message.extra_tags %}
    <div class="alert alert-success normal_message" role="alert">
      <h1 class="ms_good">{{message|safe}}</h1>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
</div>
<div class="row mr-t">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="row">
      <ul class="category">
        <li><a href="/Онлайн-Займ">ОНЛАЙН ЗАЙМ</a></li>
        <li><a href="/Бесплатный-Займ">БЕСПЛАТНЫЙ ЗАЙМ</a></li>
        <li><a href="/Займ-Наличными">ЗАЙМ НАЛИЧНЫМИ</a></li>
        <li><a href="/Займ-на-Карту">НА КАРТУ</a></li>
        <li><a href="/Займ-на-Счет">НА СЧЁТ</a></li>
        <li><a href="/Займ-на-Киви">НА КИВИ</a></li>
        <li><a href="/Займ-на-Яндекс-Деньги">НА ЯНДЕКС ДЕНЬГИ</a></li>
        <li><a href="/Займ-на-Карту-Мир">НА КАРТУ МИР</a></li>
        <li><a href="/Займ-Переводом-Contact">ЧЕРЕЗ CONTACT</a></li>
        <li><a href="/Займ-Переводом-Золотая-Корона">ЧЕРЕЗ ЗОЛОТАЯ КОРОНА</a></li>
        <li><a id="category_active" href="#">БЕЗ КАРТЫ</a></li>
        <li><a href="/Займ-Круглосуточно">ЗАЙМ КРУГЛОСУТОЧНО</a></li>
        <li><a href="/Займ-без-Проверки">БЕЗ ПРОВЕРКИ</a></li>
        <li><a href="/Займ-без-Паспорта">БЕЗ ПАСПОРТА</a></li>
        <li><a href="/Займ-без-Отказа-и-Проверок">БЕЗ ОТКАЗА И ПРОВЕРОК</a></li>
        <li><a href="/Займ-Срочно">СРОЧНО</a></li>
      </ul>
    </div>
  </div>
<div class="col-xl-12 col-lg-12 col-md-12">
<div class="row mfo">
{% for post in posts %}
  <div class="col-md-12 col-lg-12 col-xl-12 one_item_list">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3">
        <a target="_blank" width="100%" href="/мфо/{{ post.slug }}"><img  class="mfo_img" width="100%" src="/{{ post.logo }}" /></a>
      </div>
      <div class="col-md-7 col-lg-7 col-xl-7 description">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
              <h5 class="small_word">Сумма</h5>
            </div>
            <div class="row left_line">
              <p> от <strong class="credit">{{ post.min_credit}}</strong> рублей<br/>
            до <strong class="credit">{{ post.max_credit}}</strong> рублей</p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
              <h5 class="small_word">срок</h5>
            </div>
            <div class="row left_line">
              <p>от <strong class="credit">{{ post.min_days}}</strong> дней<br/>
              до <strong class="credit">{{ post.max_days}}</strong> дней</p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
              <h5 class="small_word">Ставка в день</h5>
            </div>
            <div class="row left_line">
              <p>от <strong class="credit"> {{ post.percent_per_day}}</strong>%</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
              {% if post.first_credit_free == True %}
                <h5 class="rek btn-4" style="border: 2px solid #E60042; padding: 5px;">ПЕРВЫЙ ЗАЙМ ПОД 0%</h5>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row text-center">
              {% if post.scope > 70 %}
                <h5 class="rek2">РЕЙТИНГ {{ post.scope}}%</h5>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
              <h5 class="rek"><a target="_blank" class="a_item" href="/мфо/{{ post.slug }}">ПОДРОБНЕЕ</a></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2">
        <div class="row">
          <a class="a_small" target="_blank" href="go/{{ post.slug}}"><button class="btn but2"><strong>РАССЧИТАТЬ ЗАЙМ</strong></button></a>
        </div>
      </div>
  </div>
  </div>
{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
